<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSR Generator</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <header>
      <h1 class="title">CSR Generator</h1>
    </header>
    <main id="app">
      <div class="column text-right">
        <span class="version">
          (v0.1 - <a href="./about.html">about</a>)
        </span>
      </div>
      <form class="form" v-if="formVisible" @submit.prevent="createCsr()">
        <div v-if="error" class="error">
          {{error}}
        </div>
        <label for="common-name" class="label">common-name:</label>
        <input v-model="commonName" type="text" class="input" id="common-name" placeholder="mysite.example.com">
        <label for="subj-alt-names" class="label">subject-alternative-name(s):</label>
        <textarea v-model="subjAltNames" class="textarea" id="subj-alt-names" placeholder="Please use FQDN and/or IP addresses only. Other SAN types will not be parsed."></textarea>
        <button type="submit" class="create">create</button>
      </form>
      <div v-if="created" class="row">
        <span v-text="privateKey" class="column" id="privateKey">
        </span>
        <span v-text="csr" class="column" id="csr">
        </span>
      </div>
      <div v-if="created" class="text-right">
        <span v-text="performance">
        </span>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>